button {
  padding: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: 0 0;
  border: 1px solid #9999;
  border: none;
  margin-top: 6px;
}

.sm-measure-disabled-color {
  color: #d4d4d4;
  cursor: none;
}

.sm-global-row {
  // margin-bottom: 0;

  i {
    font-size: 26px;
  }
}